<h1>New Event</h1>

<%= form_for @event do |f| %>

<p><%= f.label :description %>
<%= f.text_field :description %></p>

<p><%= f.label :date %>
<%= f.date_select :date %></p>

<p><%= f.label :location %>
<%= f.text_field :location %></p>

<p><%= f.label :capacity %>
<%= f.number_field :capacity %></p>

<p><%= f.label :requires_id, "Requires ID?" %>
<%= f.check_box :requires_id %></p>

<%= f.submit 'Submit' %>

<% end %>

<p><%= link_to 'Back', events_path %></p>
